@charset "utf-8";

*{
	font-family: 'Slackey', cursive;
}

body {
	margin: 0;
}

nav {
	position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	width: 100%;
	height: 100%;
	background-color: #34b7eb;
	min-height: 60px;
	z-index: 999;
}

#cover {
	background: url(https://i.pinimg.com/originals/18/07/ba/1807ba1ec6e440d9c4d183ddd6eabab1.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


#slogan {
	color: rgb(240, 234, 234);
}
a {
	text-decoration: none;
	color: rgb(87, 77, 77);
}

#sidelinks a {
	clear: right;
	padding-left: 40px;
	font-size: 18px;
}

div {
	display: block;
}

label {
	margin: 0 40px 0 0;
	font-size: 100%;
	line-height: 70px;
	display: none;
	float: right;
}

#toggle {
	display: none;
}

h4 {
	padding-right: 500px;
}


#details {
	max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}


footer {
	background-color: #34b7eb;
	padding: 50px 0;

	
	  }


#maininfo {
	text-align: center;

}

#content {
	display: flex;
	flex-wrap: wrap;
	color: rgb(52, 212, 233);
}

#news {
	float: left;
	width: 33.33%;

}
#news a{
	text-decoration: none;
	color: #34b7eb;
}
a:hover{
	text-decoration: underline;
}

#shows {
	float: left;
	width: 33.33%;
	
}

#merch {
	float: left;
	width: 33.33%;

}

#merch img {
	width: 400px;
	height: 500px;
	
}
#text {
	flex: 1;
    padding: 15px 40px;
    font-size: 16px;
	background:rgb(253, 254, 255) ;
	font-weight: 900;
	border: green;
    border-radius: 30px;
    min-width: 150px;
}

#line {

	margin: 0px 0 20px 0;
    width: 212px;
    height: 2px;
    background: rgb(0, 0, 0)
}

#submitbutton {
	 cursor: pointer;
	 padding: 15px 40px;
	 font-size: 16px;
	 color: #449acc;
	 background:rgb(253, 254, 255);
	 font-weight: 900;
	 border: none;
	 outline: none;
	 border-radius: 30px;
	 margin-left: 20px;
	 
 }
 
::placeholder {
	color: #449acc;
}

#maininfo {
	color: #449acc;

	
}

#merch .myCarousel {
	width:300px;
	height:450px;
	position: absolute;
	left: 1050px;
	
  }

.carousel {
	width:300px;
	height:450px;
	/* position: absolute; */
	left: 88px;
	
}

  
.carousel-inner > .item > img {
	width:300px;
	height:450px;
}

#merch .carousel-inner > .item > img {
	width:300px;
	height:450px;
}

.vertical { 
	border-left: 5px solid black; 
	height: 200px; 
} 

#merch a {
	color: #34b7eb;
	
	height:450px;
}