@charset "utf-8";

*{
	font-family: 'Slackey', cursive;
}

body {
	margin: 0;
}

nav {
	position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	width: 100%;
	height: 100%;
	background-color: #34b7eb;
	min-height: 60px;
	z-index: 999;
}
#sidelinks a {
	clear: right;
	padding-left: 40px;
	font-size: 18px;
}

#cover {
	background: url(https://picfiles.alphacoders.com/212/212893.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#slogan {
	color: rgb(240, 234, 234);
}
a {
	text-decoration: none;
	color: rgb(87, 77, 77);
}

div {
	display: block;
}

label {
	margin: 0 40px 0 0;
	font-size: 100%;
	line-height: 70px;
	display: none;
	float: right;
}

.title{
	text-align: center;
	margin: 30px;
}
.article{
	margin: 50px;
}

.article .apho{
	max-height: 230px;
	float: left;
    padding-right: 20px;
    
}
.article .mha{
	align-items: center;
	max-height: 250px;
}
.article a{
	color: #aec1cf;
}


#details {
	max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;

}


footer {
    background-color: #34b7eb;
    padding-bottom: 40px;
	  }


#text {
	flex: 1;
    padding: 15px 40px;
    font-size: 16px;
	background:rgb(253, 254, 255) ;
	font-weight: 10000;
	border: green;
    border-radius: 30px;
    min-width: 150px;
}

#line {

	margin: 0px 0 20px 0;
    width: 212px;
    height: 2px;
    background: rgb(0, 0, 0)
}

#submitbutton {
	 cursor: pointer;
	 padding: 15px 40px;
	 font-size: 16px;
	 color: #449acc;
	 background:rgb(253, 254, 255);
	 font-weight: 900;
	 border: none;
	 outline: none;
	 border-radius: 30px;
	 margin-left: 20px;
	 
 }
 
::placeholder {
	color: #449acc;
}

#maininfo {
	color: #449acc;

}

