@charset "utf-8";



nav {
	position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 4vh;
    background-color: #e99f4b;
    z-index: 999;
}

a {
	text-decoration: none;
	color: rgb(245, 240, 240);
}

#sidelinks a {
	clear: right;
	padding-left: 40px;
	font-size: 18px;
	
}

div {
	display: block;
}

label {
	margin: 0 40px 0 0;
	font-size: 100%;
	line-height: 70px;
	display: none;
	float: right;
}

#toggle {
	display: none;
}

h4 {
	padding-right: 500px;
}
