<link href="css/index.css" rel="stylesheet" type="text/css">
<link href="css/saved.css" rel="stylesheet" type="text/css">
<link href="css/login.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

<div class="login-box">
	<div class="savedtop">
		<h1>Welcome to AniGen!</h1>
		<p>Please login to access the site. If you do not have an account, make one <a href="/register">here</a>.</p>
		<form action="/login" method="POST" class="login-form">
			<p>
				<label>
					<span class="login-label">Username:</span>
					<br>
					<input type="text" id="login" name="username" placeholder="Enter your username..." required autocomplete="on">
				</label>
			</p>
			<p>
				<label>
					<span class="login-label">Password:</span>
					<br>
					<input type="text"  name="password" placeholder="Enter your password..." required autocomplete="on">
				</label>
			</p>
			<div>
				<input type="submit" value="Login">
				<a href="/register">Sign up</a>
			</div>
		</form>
	</div>
</div>



