body{
    font-family: 'Quicksand', sans-serif;
    background-color: #b1ded9;
}


.navbar{
    position: fixed;
    z-index: 999;
    background-color: white;
    transition: width 600ms ease;
    overflow: hidden;
    height: 100%;
}

.nav-ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.logo img{
    max-height: 150px;
    width: auto;
}

.nav-item{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
}

.nav-item a{
    color: #275a63;
}
.nav-item a:link, a:active{
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
    text-shadow: 2px 2px #9bc9d1;
}

/* Small screens */
@media only screen and (max-width: 800px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-ul {
      display: inline;

    }
  
    .nav-item {
        display: inline;
        justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  