body{
    font-family: 'Quicksand', sans-serif;
    background-color: #b1ded9;
}


.navbar{
    position: fixed;
    z-index: 999;
    background-color: white;
    transition: width 600ms ease;
    overflow: hidden;
    height: 100%;
}

.nav-ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.logo img{
    max-height: 150px;
    width: auto;
}

.nav-item{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
}

.nav-item a{
    color: #275a63;
}
.nav-item a:link, a:active{
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
    text-shadow: 2px 2px #9bc9d1;
}

.other{
    padding-left: 10em;
    padding-top: 5em; 
}

.top{
    padding-left: 7em;
    font-size: 25px;
}
.top h1{
    font-family: 'Bungee', cursive;
    margin: 0px;
}
.top h5{
    margin: 0px;
    padding-top: -4em;
}

/* Small screens */
@media only screen and (max-width: 800px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-ul {
        flex-direction: row;
        width:100%;

    }
  
    .nav-item {

        width: 30%;
        justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  